<!-- Link to Moment.js should go here -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="menu" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Wedding</a>
            <a class="dropdown-item" href="#">Anniversary</a>
            <a class="dropdown-item" href="#">Birthday</a>
            <a class="dropdown-item" href="#">Engagement</a>
            <a class="dropdown-item" href="#">Hen's</a>
            <a class="dropdown-item" href="#">Buck's</a>
            <a class="dropdown-item" href="#">Christening</a>
            <a class="dropdown-item" href="#">Baby Shower</a>
        </div>
        </li>
        <h1 id="logo">TOAST</h1>
        <li class="nav-item" id="sign-in">
            <a class="nav-link" href="#">Sign In</a>
        </li>
    </nav>
  
<!-- Table -->
<table class="table table-striped table-dark table-hover">
      <thead>
        <tr>
            <th>Guest name</th>
            <th>Guest email</th>
            <th>Plus 1</th>
            <th>Status</th>
    </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ guest name }}</td>
          <td>{{ guest_email }}</td>
          <td>{{ plus_one }}</td>
          <td>{{ rsvp_status }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ product_id }}" data-product_name="{{ product_name }}" data-product_price="{{ product_price }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ product_id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Footer -->
    <div class="footer">
        <div class="row no-gutters">
            <div class="col-sm-3">
                TOAST INC.
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                About | Design | Blog | Careers | Affiliate | Privacy | Terms | Contact Us
            </div>
        </div>
    </div>


    <!-- Javascript files -->
    <script src="js/login.js"></script>